<h2>Punkte	für	Ihre	Entscheidungen</h2>
<p>
    Bitte	schauen	Sie	sich	das	folgende	Video	an.	Darin	wird	Ihnen	beschrieben,	wie	Sie	Punkte	bei	Ihrer	Aufgabe	erhalten.	
</p>
<br>
<div class="text-center">
    <video width="640" height="360" controls>
      <source src="videos/instruction2.mp4" type="video/mp4">
    Dein Browser kann das Video leider nicht darstellen.
    </video>
</div>
<br>
<p>
    Sie	können	sich	das	Video	auch	gerne	erneut	ansehen,	wenn	Sie	auf	ein	bestimmtes	Detail	verstärkt	achten	wollen.	Sie	werden	später	aber	auch	die	Möglichkeit	haben,	das	Video	erneut	anzusehen.	Sie	können	sich	den	Inhalt	des	Videos	auch	gerne	als	Text	durchlesen.	
    <a data-toggle="collapse" data-target="#moreInfoCollapse" aria-expanded="false" aria-controls="collapseExample" class="link">Bitte klicken Sie HIER.</a>
</p>
<div class="collapse" id="moreInfoCollapse">
  <div class="well">
    <p>
        Für	jeden	Aktienkauf	erhalten	Sie	von	Ihrem	Arbeitgeber	Punkte.	Pro	Aktienkauf	können	Sie	maximal	100	Punkte	erhalten.	Diese	Punkte	werden	einem	Punktekonto	gutgeschrieben	und	später	als	Bonus	ausbezahlt. Bei der Auszahlung Ihres Bonus entsprechen 100 Punkte 0,15€.	
        <br>
        <br>
        Bei	der	Vergabe	der	Punkte	beachtet	Ihr	Arbeitgeber,	wie	Sie	nach	Informationen	recherchieren.	Für	jedes	Kriterium	das	Sie	recherchieren	erhalten	Sie	Punkte	und	je	zuverlässiger	das	Kriterium	ist,	desto	mehr	Punkte	erhalten	Sie.	
        <br>
        <br>
        Ihr	Arbeitgeber	achtet	zudem	aber	auch	auf	die	Qualität	Ihrer	Entscheidung.	Dabei	prüft	er,	ob	Sie	anhand	der	von	Ihnen	recherchierten	Informationen	auch	wirklich	die	bessere	Aktie	kaufen.	Wenn	Sie	die	bessere	der	beiden	Aktien	wählen,	ändert	sich	nichts	an	Ihren	Punkten.	Sollten	Sie	jedoch	die	schlechtere	Aktie	kaufen,	zieht	er	Ihnen	Punkte	ab.
        <br>
        <br>
        Je	mehr	Informationen	Sie	also	pro	Aktienkauf	recherchieren,	desto	zuverlässiger	wird	Ihre	Entscheidung	und	desto	höher	sind	auch	die	Punkte	pro	Aktienkauf.	Dadurch	erhalten	Sie	zwar	viele	Punkte	pro	Aktienkauf	aber	die	Recherche	von	Informationen	kostet	Sie	auch	viel	Zeit.	Dadurch	können	Sie	nicht	so	viele	Aktien	an	einem	Arbeitstag	kaufen.	
        <br>
        <br>
        Wenn	Sie	hingegen	wenige	Informationen	pro	Aktienkauf	recherchieren	wird	Ihre	Entscheidung	unzuverlässiger.	Dadurch	erhalten	Sie	nicht	so	viele	Punkte	pro	Aktienkauf.	Dadurch	erhalten	Sie	zwar	weniger	Punkte	pro	Aktienkauf,	die	Recherche	kostet	Sie	aber	auch	weniger	Arbeiutszeit.	Dadurch	können	Sie	wiederum	viele	Aktien	an	einem	Arbeitstag	kaufen.
        <br>
        <br>
        Die	Entscheidung	über	Ihr	Vorgehen	überlässt	Ihr	Arbeitgeber	dabei	Ihnen.	
    </p>
  </div>
</div>