<h2>Um was geht es genau?</h2>
<p >
    Bitte	schauen	Sie	sich	das	folgende	Video	an.	Darin	wird	beschrieben,	um	was	es	für	Sie	geht	und	worin	Ihre	Aufgabe	besteht.	In	dem	Video	werden	Ihnen	beispielhaft	Informationen	zu	Unternehmen	gezeigt,	die	lediglich	für	eine	Übungsphase	genutzt	werden.	Für	die	späteren	Entscheidungen	werden	Ihnen	dann	andere	Informationen	vorgelegt.
</p>
<br>
<div class="text-center">
    <video width="640" height="360" controls>
      <source src="videos/instruction1.mp4" type="video/mp4">
    Dein Browser kann das Video leider nicht darstellen.
    </video>
</div>
<br>
<p>
    Sie	können	sich	das	Video	auch	gerne	erneut	ansehen,	wenn	Sie	auf	ein	bestimmtes	Detail	verstärkt	achten	wollen.	Sie	werden	später	aber	auch	die	Möglichkeit	haben,	das	Video	erneut	anzusehen.	Sie	können	sich	den	Inhalt	des	Videos	auch	gerne	als	Text	durchlesen.	
    <a data-toggle="collapse" data-target="#moreInfoCollapse" aria-expanded="false" aria-controls="collapseExample" class="link">Bitte klicken Sie HIER.</a>
</p>
<div class="collapse" id="moreInfoCollapse">
  <div class="well">
    <p>
    Bitte	stellen	Sie	sich	vor	Sie	haben	eine	neue	Stelle	als	Aktienhändler	in	einer	Bank	angetreten.	Ihre	tägliche	Aufgabe	besteht	darin,	bis	zu	64	Aktienkäufe	innerhalb	eines	Arbeitstages	zu	tätigen.
    <br>
    <br>
    Bei	einem	Aktienkauf	müssen	Sie	sich	zwischen	zwei	Aktien	von	unterschiedlichen	Unternehmen	zu	entscheiden	–	dem	Unternehmen	A	und	dem	Unternehmen	B.	Bei	Ihrer	Entscheidung	gilt	es	die	Aktie	zu	wählen,	die	mit	einer	höheren	Wahrscheinlichkeit	einen	zukünftigen	Profit	einbringt.		
    <br>
    <br>
    Wie	kann	aber	die	bessere	der	beiden	Aktien	erkannt	werden?	
    <br>
    <br>
    Um	die	bessere	Aktie	zu	identifizieren,	können	Sie	Informationen	über	zwei	Kriterien	recherchieren,	die	jedoch	unterschiedlich	zuverlässig	sind:
    <br>
    <ul>
        <li>Kriterium	1:	Familiengeführtes	Unternehmen?	<span class="glyphicon glyphicon-arrow-right"></span>	Zuverlässigkeit	von	84%	</li>
        <li>Kriterium	2:	Firmensitz	in	einer	Steueroase?	<span class="glyphicon glyphicon-arrow-right"></span>	Zuverlässigkeit	von	61%	</li>
    </ul>
   Diese Kriterien können auf ein Unternehmen zutreffen oder auch nicht, was dann mit „Ja“ (trifft zu) oder „Nein“ (trifft nicht zu) angegeben wird. Ein „Ja“ ist bei den Kriterien immer besser als ein „Nein“. Die Zuverlässigkeit eines Kriteriums zeigt dabei, mit welcher Wahrscheinlichkeit (in Prozent) die Information über ein Kriterium auch tatsächlich zutrifft. 
    <br>
    <br>
    Die	Informationen,	ob	es	sich	bei	den	Unternehmen	also	um	ein	Familienunternehmen	oder	um	eines	mit	einem	Sitz	in	einer	Steueroase	handelt,	stehen	Ihnen	jedoch	zu	Beginn	eines	Aktienkaufes	noch	nicht	zur	Verfügung.	Erst	durch	eine	Recherche	können	Sie	an	diese	Informationen	gelangen.	Lediglich	die	Zuverlässigkeit	der	Kriterien	ist	Ihnen	zu	Beginn	bekannt.
    <br>
    <br>
    Die	Recherche	kostet	Sie	Arbeitszeit.	Wie	lange	Sie	für	die	Informationen	zu	einem	Kriterium	recherchieren	müssen,	hängt	von	der	Zuverlässigkeit	des	Kriteriums	ab	-	je	zuverlässiger	ein	Kriterium	ist,	desto	mehr	Zeit	benötigen	Sie	auch	für	die	Recherche.	Sobald	Ihre	Recherchezeit	bei	einem	Kriterium	abgeschlossen	ist,	erhalten	Sie	die	Informationen	zu	beiden	Unternehmen.	
    <br>
    <br>
    Bevor	Sie	also	eine	Entscheidung	treffen	können,	müssen	Sie	also	zunächst	Informationen	recherchieren.	Je	zuverlässiger	dabei	ein	Kriterium	ist	oder	je	mehr	Kriterien	Sie	recherchieren,	desto	höher	ist	die	Wahrscheinlichkeit	die	bessere	Aktie	erkennen	zu	können.	
    <br>
    <br>
    Nachdem	Sie	zu	einem	Kriterium	recherchiert	haben,	können	Sie	weitere	Informationen	einholen	oder	Ihre	Entscheidung	treffen.
    <br>
    <br>
    Nun	besteht	Ihre	Aufgabe	jedoch	nicht	nur	darin	eine	Entscheidung	an	einem	Arbeitstag	zu	treffen,	sondern	bis	zu	64	Aktienkäufe	hintereinander.	Da	Ihre	Arbeitszeit	aber	begrenzt	ist,	können	Sie	bei	einem	hohen	Zeitaufwand	für	die	Recherche	zwar	zuverlässigere	Entscheidungen	treffen	aber	dafür	weniger	an	einem	Arbeitstag.
      </p>
  </div>
</div>