<h2>Ihre Entscheidungsstrategie</h2>

<section class="decision-strategy lex" ng-if="decisionStrategy == 'lex'">
    <p>
        Ihre Entscheidungsstrategie besteht darin, dass Sie das Waschmittel wählen, welches bei Ihrer persönlichen wichtigsten Eigenschaft das beste ist. Ihre Strategie besteht demnach aus drei Schritten. Im ersten Schritt wählen Sie sich Ihre persönlich wichtigste Eigenschaft bei Waschmitteln aus. Im zweiten Schritt vergleichen Sie die Bewertungen aller Waschmittel bei dieser Eigenschaft. Im dritten Schritt wählen Sie das Waschmittel, welches den höchsten Wert auf Ihrer wichtigsten Eigenschaft hat.
    </p>
    <p>
        Sollten zwei oder mehrere Waschmittel gleich gut bei Ihrer wichtigsten Eigenschaft sein, nehmen Sie Ihre zweitwichtigste Eigenschaft hinzu und vergleichen diese Waschmittel nun zusätzlich noch auf dieser Eigenschaft.
    </p>
</section>

<section class="decision-strategy eba" ng-if="decisionStrategy == 'eba'">
    <p>
        Ihre Entscheidungsstrategie besteht darin, dass Sie ein Waschmittel nach dem anderen aussortieren, bis am Ende nur noch ein Waschmittel übrigbleibt, für das Sie sich dann entscheiden.
    </p>
    <p>
        Dieses schrittweise Aussortieren läuft dabei so ab, dass Sie die Waschmittel zuerst auf Ihrer persönlich wichtigsten Eigenschaft vergleichen. Bei diesem Vergleich werden alle Waschmittel aussortiert und nicht weiter beachtet, die Ihrem persönlichen Mindestanspruchsniveau nicht genügen. Sollten mehrere Waschmittel übrig bleiben, vergleichen Sie diese dann noch zusätzlich auf der nächstwichtigsten Eigenschaft, bis nur noch ein Waschmittel übrig bleibt und somit Ihre Wahl darstellt.
    </p>
</section>

<section class="decision-strategy eqw" ng-if="decisionStrategy == 'eqw'">
    <p>
        Ihre Entscheidungsstrategie besteht darin, dass Sie sich für das Waschmittel entscheiden, dass „unterm Strich“, also hinsichtlich aller seiner Eigenschaften das beste Waschmittel darstellt. Dafür betrachten Sie alle Eigenschaften eines Waschmittels und ermitteln dessen Gesamteignung. Diesen Vorgang wiederholen Sie dann für jedes weitere Waschmittel. Am Ende haben Sie die Gesamteignung für jedes Waschmittel und wählen dasjenige aus, dass die beste Gesamteignung besitzt.
    </p>
</section>

<section class="decision-strategy wadd" ng-if="decisionStrategy == 'wadd'">
    <p>
        Ihre Entscheidungsstrategie besteht darin, dass Sie sich für das Waschmittel entscheiden, dass hinsichtlich aller Eigenschaften und unter Einbezug wie wichtig Ihnen die einzelnen Eigenschaften sind, das beste Waschmittel darstellt. Dafür betrachten Sie nacheinander die einzelnen Bewertungen eines Waschmittels. Da einzelne Eigenschaften unterschiedlich wichtig sein können, gewichten sie die einzelnen Eigenschaften und ermitteln daraus die gewichtete Gesamteignung des Waschmittels. Diesen Vorgang wiederholen Sie für jedes Waschmittel. Am Ende haben Sie die gewichtete Gesamteignung für jedes einzelne Waschmittel und wählen das beste darunter aus.
    </p>
</section>

<br><br>

<p><a class="btn btn-lg btn-success btn-next" ng-href="#/decision-strategy">Weiter</a></p>