<h2>Die Art und Weise wie Sie hier Ihre Entscheidungen treffen sollen</h2>
<p>
    Für die beispielhafte Beschreibung Ihrer Entscheidungsstrategie, finden Sie erneut die Tabelle mit den Bewertungen vor.
</p>


<table class="table table-condensed table-bordered table-striped">
    <thead>
    <tr>
        <th>Eigenschaft</th>
        <th ng-repeat="powder in washingPowders" class="text-center">{{ powder.name }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="testCase in ratingTestCases">
        <td>{{ testCase }}</td>
        <td ng-repeat="powder in washingPowders" class="text-center test-case-value">{{ ($parent.$index == 0) ? (powder.testCaseRatings[$parent.$index] | number:2) : powder.testCaseRatings[$parent.$index] }}</td>
    </tr>
    </tbody>
</table>
<p>Bewertungsschlüssel: ++ = sehr gut, + = gut, o = befriedigend, - = ausreichend, -- = mangelhaft</p>
<br>

<section class="decision-strategy lex" ng-if="decisionStrategy == 'lex'">
    <p>
        Nehmen wir einmal an, für Sie ist die Eigenschaft „Schmutzentfernung“ am wichtigsten. Nun vergleichen Sie alle Waschmittel hinsichtlich der Eigenschaft „Schmutzentfernung“ und entscheiden sich für das Waschmittel mit dem besten Wert bei dieser Eigenschaft. Wenn Sie sich die Tabelle oben anschauen sehen Sie, dass das Waschmittel 2 mit der Bewertung „++“ bei Schmutzentfernung das beste ist und daher das Waschmittel Ihrer Wahl darstellt.
    </p>
</section>

<section class="decision-strategy eba" ng-if="decisionStrategy == 'eba'">
    <p>
        Nehmen wir einmal an, für Sie ist die Eigenschaft „Faserschutz“ am wichtigsten und alle Waschmittel die hierbei eine schlechtere Note als „++“ haben, werden aussortiert. Wenn Sie sich die Tabelle oben anschauen, wird das Waschmittel 1 aussortiert, da dessen Bewertung mit einer „+“ schlechter als ein „++“ ist. Es bleiben nun die Waschmittel 2 und 3 übrig, die Sie nun auf Ihrer zweitwichtigsten Eigenschaft vergleichen.
    </p>
    <p>
        Nehmen wir an, dass es sich bei Ihrer zweitwichtigsten Eigenschaft um „Fleckenentfernung“ handelt und Sie alle Waschmittel aussortieren, die eine schlechtere Bewertung als „+“ besitzen. Im Vergleich der Waschmittel 2 und 3 stellen Sie fest, dass Waschmittel 2 schlechter ist und daher aussortiert wird. Es bleibt also Waschmittel 3 übrig und stellt somit Ihre Wahl dar.
    </p>
</section>

<section class="decision-strategy eqw" ng-if="decisionStrategy == 'eqw'">
    <p>
        Wenn Sie die oben stehende Tabelle betrachten sehen Sie, dass die Eigenschaften mit Symbolen bewertet werden. Um die Gesamteignung eines Waschmittels zu ermitteln, können Sie diese Symbole als Bewertungspunkte betrachten.
    </p>
    <p>
        Da es insgesamt 5 Stufen in dem Bewertungsschlüssel gibt, entspricht die Bewertung „sehr gut“ (+ +) 5 Bewertungspunkten, die Bewertung „gut“ (+) dann 4 Punkten und so weiter, bis die Bewertung „mangelhaft“ (- -) letztendlich nur 1 Bewertungspunkt darstellt.
    </p>
    <p>
        Wie Sie sicherlich erkannt haben, kann diese Vorgehensweise bei der Eigenschaft „Preis je Waschgang“ nicht angewandt werden, da hier direkt der Preis und keine Bewertung mit Symbolen angegeben wird. Sie können hier aber einfach selbst eine Bewertung vornehmen, indem Sie schauen, welches Waschmittel das Teuerste ist und geben diesem Waschmittel 1 Punkt. Dem zweitteuersten geben Sie dann 2 Punkte und so weiter, bis das billigste Waschmittel so viele Punkte erhält, wie es insgesamt Waschmittel gibt.
    </p>
    <p>
        Für die Anwendung Ihrer Entscheidungsstrategie zählen Sie einfach alle Punkte von allen Eigenschaften eines Waschmittels zusammen. Dies machen Sie dann nacheinander auch für die anderen Waschmittel und erhalten so für jedes Waschmittel dessen Gesamteignung. Das Waschmittel mit der höchsten Punktzahl stellt das beste Waschmittel dar und ist somit Ihre Wahl.
    </p>
</section>

<section class="decision-strategy wadd" ng-if="decisionStrategy == 'wadd'">
    <p>
        Wenn Sie die oben stehende Tabelle betrachten sehen Sie, dass die Eigenschaften mit Symbolen bewertet werden. Um die gewichtete Gesamteignung eines Waschmittels zu ermitteln, können Sie diese Symbole als Bewertungspunkte betrachten. Da es insgesamt 5 Stufen in dem Bewertungsschlüssel gibt, entspricht die Bewertung „sehr gut“ (+ +) 5 Bewertungspunkten, die Bewertung „gut“ (+) dann 4 Punkten und so weiter, bis die Bewertung „mangelhaft“ (- -) letztendlich nur 1 Bewertungspunkt darstellt.
        Wie Sie sicherlich erkannt haben, kann diese Vorgehensweise bei der Eigenschaft „Preis je Waschgang“ nicht angewandt werden, da hier direkt der Preis und keine Bewertung mit Symbolen angegeben wird. Sie können hier aber einfach selbst eine Bewertung vornehmen, indem Sie schauen, welches Waschmittel das Teuerste ist und geben diesem Waschmittel 1 Punkt. Dem zweitteuersten geben Sie dann 2 Punkte und so weiter, bis das billigste Waschmittel so viele Punkte erhält, wie es insgesamt Waschmittel gibt.
    </p>
    <p>
        Die Gewichtung der einzelnen Bewertungen vollzieht sich anhand der von Ihnen angegebenen Relevanz der einzelnen Eigenschaften. Eine hohe Relevanz bedeutet: ist mir wichtig und soll deshalb stärker in meine Entscheidung einfließen. Eine geringe Relevanz bedeutet: ist mir nicht so wichtig und soll daher weniger stark in meine Entscheidung einfließen.
        Hierfür können Sie einfach die Bewertung einer Eigenschaft, mit dem Wert Ihrer persönlichen Relevanz multiplizieren. Dies machen Sie bei jeder Eigenschaft eines Waschmittels und erhalten in Summe dann die gewichtete Gesamteignung eines Waschmittels. Wenn Sie diesen Vorgang nun für jedes der Waschmittel wiederholen, stellt das Waschmittel mit der größten gewichteten Gesamteignung das beste Waschmittel für Sie dar und ist somit Ihre Wahl.
    </p>
</section>

<p><a class="btn btn-lg btn-success btn-next" ng-href="#/uebung1-description">Weiter</a></p>