<h2>Herzlich Willkommen</h2>
<p >
  und vielen Dank das Sie sich die Zeit nehmen, an meiner Studie zum Thema „Produktbewertung“ teilzunehmen.  Diese Untersuchung findet im Rahmen des Masterstudiengangs Psychologie an der Universität Erfurt statt und wird 10 – 15 Minuten dauern.
</p>
<p>
  In der Studie wird es darum gehen, sich <strong>so schnell und so gut wie möglich</strong>
  für ein Waschmittel zu entscheiden. Hierfür stehen Ihnen verschiedene Waschmittel zur
  Verfügung, mit Angaben zum Preis und der Güte verschiedener Eigenschaften.
  <br>Die Studie wird ungefähr 5 – 10 Minuten dauern.
</p>
<p>
  Sie werden gleich die Möglichkeit haben, sich in zwei Übungsläufen mit der Vorgehensweise
  vertraut zu machen, bevor die eigentliche Studie beginnt. Im Anschluss daran beginnt die
  eigentliche Studie und Sie bekommen drei mal verschiedene Waschmittel gezeigt.
  Jedes mal wird es darum gehen, eine <strong>Entscheidung so schnell aber auch so gut wie möglich
  zu treffen.</strong> Nach jeder Entscheidung werden Ihnen Fragen zu Ihrer Entscheidung gestellt.
  Weitere Fragen schließen die Studie ab und Sie haben die Möglichkeit, an einer Verlosung
  für einen Amazon-Gutschein im Wert von 15€ teilzunehmen.
</p>
<p>
  Ihre Angaben werden selbstverständlich anonym gespeichert, sodass kein Rückschluss auf Ihre Person möglich ist.
</p>

<!-- Uncomment below for online version -->
<p><strong>
  Für diese Studie ist es unabdingbar, dass Sie während der Durchführung ungestört sind und nicht unterbrochen oder abgelenkt werden.
  Sollte dies dennoch eintreffen, können Ihre Angaben leider nicht verwendet werden. Aus Erfahrung empfiehlt es sich daher einen ruhigen Ort
  aufzusuchen, Telefone stumm zu schalten und Mailprogramme und Türen zu schließen.
  <br>
  <br>
  Bitte nehmen Sie an dieser Studie nicht mit einem Smartphone oder Tablet teil!
  <br><br>
  Vielen Dank!
  </strong>
</p>

<!-- Uncomment below for labor version -->
<!--
<p>
  <strong>Bitte sorgen Sie dafür, dass Sie während der nächsten 10 – 15 Minuten ungestört sind und nicht
  während der Teilnahme an der Studie unterbrochen oder abgelenkt werden.
<br><br>
Vielen Dank!</strong>
</p>
-->
<p><a class="btn btn-lg btn-success btn-next" ng-href="#/personal-code">Weiter</a></p>
