<h2>Ihr persönlicher Code</h2>
<p>Bitte	erstellen	Sie	Ihren	persönlichen	Code.	Dieser	Code	besteht	aus	einer	Kombination	von	Buchstaben	und	Zahlen,	die	außer	Ihnen	niemandem	bekannt	ist,	für	Sie	persönlich	jedoch	leicht	wieder	herzuleiten	ist.
    <br>
    <br>
    Der persönliche Code setzt sich wie folgt zusammen:
</p>
<ul>
    <li>Die ersten beiden Buchstaben des Vornamens Ihrer Mutter.</li>

    <li>Die ersten beiden Buchstaben Ihres Geburtsortes.</li>

    <li>Die ersten beiden Zahlen des Geburtstages Ihres Vaters.</li>

    <li>Die ersten beiden Zahlen Ihres Geburtstages.</li>
</ul>
<br>
<p>Beispiel:<br>
Ihre Mutter heißt Helga, Sie sind in Frankfurt geboren,
    Ihr Vater ist am 16.8.1950 geboren, Sie sind am am 02.03.1980 geboren.
</p>
<p>Ihr persönlicher Code lautet somit HEFR1602.</p>
<br>
<form class="form-horizontal" action="">
    <div class="form-group">
        <label for="personalCode" class="col-sm-3 control-label">Persönlicher Code</label>
        <div class="col-sm-9">
            <input type="text" class="form-control personal-code-input" id="personalCode" placeholder="HEFR1602" minlength="8" maxlength="8" required="" ng-model="personalCode">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-12">
            <a type="submit"
               ng-click="onFormSubmit()"
               ng-disabled="!personalCode"
               class="btn btn-lg btn-success btn-next">Weiter <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <div class="spinner" ng-hide="notWaitingForRequestToFinish">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </a>
        </div>
    </div>
</form>