<div ng-if="currentRiskExcercise === 1">
    <p >
       	Bitte	wählen	Sie,	welches	der	beiden	Glücksspiele	Sie	spielen	würden:
    </p>
    <table class="table table-bordered table-risk">
        <tr>
            <td>Glücksspiel 1</td>
            <td>500.000 € mit einer Wahrscheinlichkeit von 100%</td>
        </tr>
        <tr>
            <td>Glücksspiel 2</td>
            <td>
                2.500.000 € mit einer Wahrscheinlichkeit von 10%<br>
                500.000 € mit einer Wahrscheinlichkeit von 89%<br>
                Kein Gewinn mit einer Wahrscheinlichkeit von 1%
            </td>
        </tr>
    </table>
    
    <p class="text-center">
        <button class="btn btn-success" ng-click="chooseRisk(1)">Wähle Glücksspiel 1</button>
        <button class="btn btn-success" ng-click="chooseRisk(2)">Wähle Glücksspiel 2</button>
    </p>
</div>


<div ng-if="currentRiskExcercise === 2">
    <p >
       	Bitte	wählen	Sie,	welches	der	beiden	Glücksspiele	Sie	spielen	würden:
    </p>
    <table class="table table-bordered table-risk">
        <tr>
            <td>Glücksspiel 1</td>
            <td>
                500.000€	mit	einer	Wahrscheinlichkeit	von	11%<br>
                Kein	Gewinn	mit	einer	Wahrscheinlichkeit	von	89%	
            </td>
        </tr>
        <tr>
            <td>Glücksspiel 2</td>
            <td>
                2.500.000 € mit einer Wahrscheinlichkeit von 10%<br>
                Kein	Gewinn	mit	einer	Wahrscheinlichkeit	von	90%
            </td>
        </tr>
    </table>
    
    <p class="text-center">
        <button class="btn btn-success" ng-click="chooseRisk(1)">Wähle Glücksspiel 1</button>
        <button class="btn btn-success" ng-click="chooseRisk(2)">Wähle Glücksspiel 2</button>
    </p>
</div>

<div ng-if="currentRiskExcercise === 3">
    <p >
       	Bitte	wählen	Sie,	welches	der	beiden	Glücksspiele	Sie	spielen	würden:
    </p>
    <table class="table table-bordered table-risk">
        <tr>
            <td>Glücksspiel 1</td>
            <td>100€	mit	einer	Wahrscheinlichkeit	von	100%	</td>
        </tr>
        <tr>
            <td>Glücksspiel 2</td>
            <td>
                1.000€	mit	einer	Wahrscheinlichkeit	von	10%	
            </td>
        </tr>
    </table>
    
    <p class="text-center">
        <button class="btn btn-success" ng-click="chooseRisk(1)">Wähle Glücksspiel 1</button>
        <button class="btn btn-success" ng-click="chooseRisk(2)">Wähle Glücksspiel 2</button>
    </p>
</div>

<div ng-if="currentRiskExcercise === 4">
    <p>Bitte	stellen	Sie	sich	vor,	Sie	haben	100.000€	geerbt.	Sie	haben	die	Möglichkeit	von	diesem	Geld	Aktien	zu	kaufen,	die	Sie	in	ein	paar	Jahren	wieder	verkaufen	können.	Aufgrund	starker	Schwankungen	auf	den	Aktienmärkten	können	Sie	dabei	viel	Geld	verlieren	aber	auch	viel	Geld	gewinnen.</p>
    <p>
        Wie	viel	Ihres	Erbes	wären	Sie	bereit	in	Aktien	zu	investieren?
    </p>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Aktien kaufen im Wert von </label>
            <input type="number" min="0" max="100000" ng-minlength="1" ng-maxlength="10" class="form-control invest-input" name="investmentAmount" ng-model="$parent.investmentAmount"> <strong> €</strong>
        </div>
    </form>
    
    <a type="submit"
       ng-click="onFormSubmit()"
       ng-disabled="!investmentAmount"
       class="btn btn-lg btn-success btn-next">Weiter <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        <div class="spinner" ng-hide="notWaitingForRequestToFinish">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </a>
</div>
