<h2>Gleich geht's los</h2>

<div ng-hide="experimentCondition === 'C2'">
  <p>
    Während eines Arbeitstages erhalten Sie Informationen über Ihre noch verbleibende Zeit und die verbleibende Anzahl maximal möglicher Aktienkäufe. Diese Informationen werden Ihnen als fortlaufende Balken und Zahlen im oberen Bereich des Bildschirms angezeigt.
    </p>
    
    <div class="thumbnail">
        <img src="images/ScreenWithoutPoints.png" alt="Screenshot">
    </div>
    <p>
        Bitte beachten Sie diese Informationen stets! 
    </p>  
</div>



<div ng-hide="experimentCondition === 'C1'">
    <p>
        Während eines Arbeitstages erhalten Sie Informationen über Ihre noch verbleibende Zeit, die verbleibende Anzahl maximal möglicher Aktienkäufe und wie viele Punkte Sie bereits gesammelt haben. Diese Informationen werden Ihnen als fortlaufende Balken und Zahlen im oberen Bereich des Bildschirms angezeigt. 
    </p>
    
    <div class="thumbnail">
        <img src="images/screenWithPoints.png" alt="Screenshot">
    </div>
    <p>
        Bitte beachten Sie diese Informationen stets! 
    </p>
</div>


<div ng-hide="participantGroup === 'G4' || participantGroup === 'G5' || participantGroup === 'G6'">
    <p>
        Beachten Sie auch, dass Ihnen Ihre gesuchten Informationen sofort angezeigt werden, ohne eine Wartezeit wie in der Übungsaufgabe. Die Recherchezeit wird Ihnen dennoch von Ihrer Arbeitszeit abgezogen. Behalten Sie also stets Ihre verbleibende Zeit im Auge.
    </p>
</div>


<p>Viel Erfolg!</p>

<p>
    <a class="btn btn-success btn-next" ng-href="#/getReady">Arbeitstag beginnen <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
</p>