<h2>Einarbeitungsphase</h2>

<div class="feedback-section">
    <table class="table-feedback">
        <tr>
            <td class="text-right">Vergangene Zeit:</td>
            <td class="text-right" style="width: 165px;"><span class="decision-timer">{{ remainingMinutes }} min {{ remainingSeconds |number:2 }} sek</span></td>
        </tr>
        <tr>
            <td class="text-right">Anzahl an Entscheidungen:</td>
            <td class="text-right"><strong>{{ finishedTrials }}</strong></td>
        </tr>
        <tr ng-hide="experimentCondition === 'C1'">
            <td class="text-right">Punkte:</td>
            <td class="text-right"><strong>{{ currentScore }}</strong></td>
        </tr>
    </table>
    <div class="clearfix"></div>
</div>



<br>
<br>
<table class="table table-buy-board">
    <thead>
        <tr>
            <td></td>
            <td class="text-center">Zuverlässigkeit</td>
            <td class="text-center">Aktie A</td>
            <td class="text-center">Aktie B</td>
            <td class="text-center">Information kaufen:</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="option in cueOptions track by $index">
            <td>{{ option.label }}</td>
            <td class="text-center">{{ option.validity * 100 }} %</td>
            <td class="text-center"><span ng-if="!option.isShown">?</span><span ng-if="option.isShown">{{ currentPattern[$index] === 1 ? 'Ja' : 'Nein' }}</span></td>
            <td class="text-center"><span ng-if="!option.isShown">?</span><span ng-if="option.isShown">{{ currentPattern[$index] !== 1 ? 'Ja' : 'Nein' }}</span></td>
            <td class="text-center">
                <button class="btn btn-info" ng-disabled="option.intervalId !== -1" ng-click="buyCue($index)">
                    <strong><span>{{ option.cost / 1000.0 |number:2 }} sek</span></strong>
                    <div class="spinner spinner-cue" ng-hide="cueOptions[$index].intervalId === -1 || cueOptions[$index].isShown">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td class="text-center"><button class="btn btn-success" ng-click="chooseShare('A')" ng-disabled="!informationAcquired">Wähle Aktie A</button></td>
            <td class="text-center"><button class="btn btn-success" ng-click="chooseShare('B')" ng-disabled="!informationAcquired">Wähle Aktie B</button></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<a class="btn btn-success btn-xs btn-next text-center" ng-href="#/step8">Einarbeitungsphase beenden <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
