<h2>Es kann los gehen</h2>
<p >
   	Nachdem	Sie	sich	mit	dem	Vorgehen	vertraut	machen	konnten,	beginnt	nun	die	eigentliche	Arbeitsphase.
</p>
<p>
    Sie	werden	gleich	Ihre	ersten	drei	Arbeitstage	mit	unterschiedlicher	Dauer	durchlaufen.	Da	Ihre	Arbeitszeit	begrenz	ist,	endet	Ihr	Arbeitstag	mit	Ablauf	der	Arbeitszeit	und	Sie	können	keine	weiteren	Aktien	mehr	kaufen.	An	jedem	Arbeitstag	sind	bis	zu	64	Aktienkäufe	möglich	und	pro	Entscheidung	maximal	100	Punkte	zu	verdienen.
</p>

<p>
    Im	Vergleich	zu	den	Aktienkäufen	in	Ihrer	Einarbeitungsphase,	können	Sie	nun	bis	zu	vier	Kriterien	recherchieren.	Wie	auch	in	der	Einarbeitungsphase	ist	es	immer	besser,	wenn	ein	Kriterium	auf	ein	Unternehmen	zutrifft	und	damit	ein	„Ja“	aufweist.	
</p>

<p>
    Die	Kriterien	und	Ihre	jeweilige	Zuverlässigkeit	sind	dabei	wie	folgt:	
</p>

<table class="table table-condensed table-bordered table-striped">
    <tbody>
        <tr ng-repeat="label in cueLabels track by $index">
            <td>{{ label }}</td>
            <td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Zuverlässigkeit von {{ cueValues[$index].validity * 100 }}%</td>
        </tr>
    </tbody>
</table>

<p>
    Nach	jedem	Arbeitstag	werden	Ihnen	Fragen	vorgelegt,	bevor	der	nächste	Arbeitstag	beginnt.
</p>
<p><strong>Bitte	beachten	Sie,	dass	Sie	als	Aktienhändler	wenig	Zeit	zur	Verfügung	haben.	Versuchen	Sie	daher	Ihre	Aktienkäufe	so	schnell	aber	auch	so	gut	wie	möglich	zu	tätigen.</strong></p>
<p>
    Wenn	Sie	sich	erneut	zu	der	Erklärung	Ihrer	Aufgabe	gelangen	wollen,	klicken	Sie	bitte	den	entsprechenden	Button	unten	links,	ansonsten	geht	es	mit	Ihrem	ersten	Arbeitstag	los	wenn	Sie	unten	rechts	klicken.
</p>

<p>
    Viel Erfolg!
</p>

<p>
    <a class="btn btn-info btn-next" ng-href="#/step4"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück zur Aufgabenbeschreibung</a>
    <a class="btn btn-success btn-next" ng-href="#/step10">Ersten Arbeitstag beginnen <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
</p>
