<h2>Fragen zum Arbeitstag {{ currentRound }}</h2>

<form class="form-horizontal stress-questions">
    <div class="form-group" ng-repeat="question in stressQuestions">
        <div class="col-sm-5">
            <p><strong>{{ $index + 1 }}. {{ question.title }}</strong></p>
        </div>
        <div class="col-sm-7" ng-if="question.id !== 4">
            <span class="stress-questions-option-label">{{ labelLeft }}</span>

            <label class="radio-inline" ng-repeat="i in [9]|makeRange track by $index">
                <input type="radio" ng-model="question.value" ng-change="checkAllSet()" name="{{ question.label }}" value="{{ $index + 1 }}">
            </label>

            <span class="stress-questions-option-label">{{ labelRight }}</span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-5">
            <p><strong>Die Informationsbalken habe ich wie folgt beachtet: </strong></p>
        </div>
        <div class="col-sm-7">
            <div class="radio-inline">
              <label>
                <input type="radio" ng-model="me4Question" ng-change="checkAllSet()" name="me4QuestionName" value="1">
                nie
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" ng-model="me4Question" ng-change="checkAllSet()" name="me4QuestionName" value="2">
                manchmal
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" ng-model="me4Question" ng-change="checkAllSet()" name="me4QuestionName" value="3">
               häufig
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" ng-model="me4Question" ng-change="checkAllSet()" name="me4QuestionName" value="4">
                immer
              </label>
            </div>
        </div>
    </div>
    <br>

    <br>
    <div class="form-group">
        <div class="col-sm-12">
            <a type="submit" ng-click="onFormSubmit()"
               ng-disabled="!allQuestionsAnswered"
               class="btn btn-lg btn-success btn-next"><span ng-if="currentRound === 6 || currentRound === 3">Weiter</span><span ng-if="!(currentRound === 6 || currentRound === 3)">Nächsten Arbeitstag beginnen</span>
                <div class="spinner" ng-hide="notWaitingForRequestToFinish">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </a>
        </div>
    </div>
</form>