<h2>Ihre Ergebnisse	aus	der	Einarbeitungsphase</h2>
<p >
   	In der Einarbeitungsphase haben Sie <strong>{{ remainingMinutes }} min und {{ remainingSeconds |number:2 }} sek</strong> benötigt, um:
</p>
<ul class="list-unstyled" style="font-size: 18px;">
    <li><strong>{{ trainingData.numberOfTrials }}</strong> Aktienkäufe zu erledigen und</li>
    <li><strong>{{ trainingData.score }}</strong> Punkte zu erhalten</li>
</ul>

<p>
    <a class="btn btn-success btn-next" ng-href="#/step9">Weiter <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
</p>
