<h2>Einarbeitungsphase</h2>
<p >
   Sie	haben	nun	die	Möglichkeit	sich	in	einer	Einarbeitungsphase	mit	der	Recherche	von	Informationen,	wie	Sie	einen	Aktienkauf	tätigen	und	der	Punktevergabe	vertraut	zu	machen.
</p>
<p>
    Sie	können	in	dieser	Einarbeitungsphase	so	viele	Aktienkäufe	tätigen	wie	Sie	möchten	und	die	Übung	zu	jeder	Zeit	beenden.	Klicken	Sie	zum	Beenden	einfach	den	Button	unten	rechts.
</p>
<p>
   Wenn	Sie	sich	die	Beschreibung	Ihrer	Aufgabe	erneut	durchlesen	wollen,	klicken	Sie	bitte	den	entsprechenden	Button	unten	links,	ansonsten	geht	es	mit	der	Einarbeitungsphase	los	wenn	Sie	unten	rechts	klicken.
</p>
<p>
    Im	Anschluss	an	die	Übung	werden	Ihnen	Ihre	Ergebnisse	angezeigt.	Im	Sinn	einer	Einarbeitungsphase	entlohnt	Sie	Ihr	Arbeitgeber	jedoch	nicht	für	die	Übung.	
</p>

<p>
    <a class="btn btn-success btn-next" ng-href="#/step7">Einarbeitungsphase beginnen <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
</p>
