<h2>Ihr Punktestand</h2>
<p >
   Bitte	nennen	Sie	dem	Studienleiter	Ihren	Punktestand,	damit	er	die	entsprechende	Auszahlung	vornehmen	kann:
</p>
<br>
<ul class="list-unstyled">
    <li class="end-score">Ihre Gesamtpunkte: <strong>{{ score }}</strong></li>
</ul>
<br>
<p>
   Sie	können	diese	Seite	so	stehen	lassen	und	den	PC	verlassen	–	vielen	Dank!
</p>
<p>
    <a class="btn btn-info btn-next btn-refresh-to-start" target="_self" href="/">Zum Start</a>
</p>

<div class="footer">
    <p>Verantwortlich für die technische Umsetzung der Studie:</p>
    <p>
        Thomas Blank <br>
        <a href="mailto:thomas.blank@fh-erfurt.de">thomas.blank@fh-erfurt.de</a>
    </p>
</div>