<h2>Zu guter Letzt</h2>
 
<div ng-if="reward == 2">
    <div>
    <p>
       Bitte merken Sie sich Ihren Auszahlungsbetrag und nennen Sie diesen dem Studienleiter:
     </p>
     
     <ul class="list-unstyled">
        <li class="end-score">Ihre Auszahlung in bar: <strong>{{ score|number:2 }} €</strong></li>
     </ul>
    </div>
</div>
<p>
   Sie können nun die Kopfhörer absetzten, diese Seite so stehen lassen und den PC einfach verlassen. Bitte lassen Sie den Vorhang Ihrer Kabine aufgezogen.
</p>
 <p>
     
  Vielen Dank nochmal das Sie an der Studie teilgenommen haben!
 </p>
 <p>
