<h2>Ihre Ergebnisse	aus	der	Einarbeitungsphase</h2>
<p >
   	In der Einarbeitungsphase haben Sie: 
</p>
<ul class="list-unstyled" style="font-size: 18px;">
    <li><strong>{{ trainingData.numberOfTrials }}</strong> Aktienkäufe in</li>
    <li><strong>{{ remainingMinutes }}</strong> Minuten und <strong>{{ remainingSeconds |number:2 }}</strong> Sekunden getätigt und</li>
    <li><strong>{{ trainingData.score }}</strong> Punkte erhalten</li>
</ul>

<p>
    <a class="btn btn-success btn-next" ng-href="#/step9">Weiter <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
</p>
