<h2>Fragen zum Arbeitstag {{ currentRound }}</h2>

<form class="form-horizontal stress-questions">
      <div class="form-group" ng-if="currentRound === 3 || currentRound === 6">
        <div class="col-sm-2">
            <p><strong>Ich habe…</strong></p>
        </div>
        <div class="col-sm-10">
            <div class="radio">
              <label>
                <input type="radio" name="stressQuestion8" value="1"  ng-model="stressQuestions8" ng-change="checkAllSet()">
                zu Beginn des Arbeitstages Stress empfunden, der zum Ende hin jedoch nachgelassen hat
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="stressQuestion8" value="2" ng-model="stressQuestions8" ng-change="checkAllSet()">
                über den ganzen Arbeitstag relativ gleichmäßig Stress empfunden	
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="stressQuestion8" value="3" ng-model="stressQuestions8" ng-change="checkAllSet()">
               zum Ende des Arbeitstages hin zunehmend mehr Stress empfunden
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="stressQuestion8" value="4" ng-model="stressQuestions8" ng-change="checkAllSet()">
                während des Arbeitstages wenig bis keinen Stress empfunden
              </label>
            </div>
        </div>
    </div>
    
    <br>
    <div class="form-group" ng-repeat="question in stressQuestions">
        <div class="col-sm-5">
            <p><strong>{{ $index + 1 }}. {{ question.title }}</strong></p>
        </div>
        <div class="col-sm-7" ng-if="question.id !== 4">
            <span class="stress-questions-option-label">{{ labelLeft }}</span>

            <label class="radio-inline" ng-repeat="i in [9]|makeRange track by $index">
                <input type="radio" ng-model="question.value" ng-change="checkAllSet()" name="{{ question.label }}" value="{{ $index + 1 }}">
            </label>

            <span class="stress-questions-option-label">{{ labelRight }}</span>
        </div>
        <div class="col-sm-7" ng-if="question.id === 4">
            <div class="radio-inline">
              <label>
                <input type="radio" ng-model="question.value" ng-change="checkAllSet()" name="{{ question.label }}" value="1">
                nie
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" ng-model="question.value" ng-change="checkAllSet()" name="{{ question.label }}" value="2">
                manchmal
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" ng-model="question.value" ng-change="checkAllSet()" name="{{ question.label }}" value="3">
               häufig
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" ng-model="question.value" ng-change="checkAllSet()" name="{{ question.label }}" value="4">
                immer
              </label>
            </div>
        </div>
    </div>
    <br>

    <br>
    <div class="form-group">
        <div class="col-sm-12">
             <button class="btn btn-info btn-lg btn-next" data-toggle="modal" data-target="#myModal" ng-if="currentRound < 3"><span class="glyphicon glyphicon-info-sign"></span> Aufgabenbeschreibung ansehen</button>
            <a type="submit" ng-click="onFormSubmit()"
               ng-disabled="!allQuestionsAnswered"
               class="btn btn-lg btn-success btn-next"><span ng-if="currentRound === 6">Weiter</span><span ng-if="currentRound < 6">Nächsten Arbeitstag beginnen</span>
                <div class="spinner" ng-hide="notWaitingForRequestToFinish">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </a>
        </div>
    </div>
</form>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>Aufgabenbeschreibung</h4>
      </div>
      <div class="modal-body">
         <div ng-include src="instructions[currentInstruction]"></div>
         <button type="button" class="btn btn-default btn-info" ng-click="changeInstruction(1)" ng-hide="currentInstruction === 1">Nächste Aufgabenbeschreibung</button>
         <button type="button" class="btn btn-default btn-info" ng-click="changeInstruction(0)" ng-hide="currentInstruction === 0">Vorherige Aufgabenbeschreibung</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>