<h2>Zur Studie</h2>
<p >
    Diese Untersuchung wird ca. 30 Minuten dauern und beschäftigt sich mit Entscheidungen.
</p>
<p>
    Während	der	Studie	ist	es	wichtig,	dass	Sie	weder	gestört	noch	abgelenkt	werden.	Schalten	Sie	daher	bitte	Ihr	Mobiltelefon	aus,	sodass	auch	kein	Vibrationssignal	ertönen	kann	–	vielen	Dank!	
</p>
<p>Bitte setzten Sie Kopfhörer auf und behalten diese während der gesamten Studie auf.</p>
<p>
   Ihre	Daten	werden	nicht	an	Dritte	weitergegeben	und	ausschließlich	für	wissenschaftliche	Zwecke	genutzt.	Ihre	Angaben	werden	selbstverständlich	anonym	gespeichert,	sodass	kein	Rückschluss	auf	Ihre	Person	möglich	ist.
</p>
<br>
<div class="checkbox">
    <label for="agree-to-participate" class="agree-to-participate">
        <input type="checkbox" value="" id="agree-to-participate" ng-model="agreedToParticipate">
        Ich bestätige hiermit, dass ich den oben stehenden Text gelesen und verstanden habe und erkläre mich bereit, an dieser Studie teilzunehmen.
    </label>
</div>

<p><a class="btn btn-lg btn-success btn-next" ng-click="disabled()" ng-disabled="!agreedToParticipate">Weiter <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></p>
