<h2>Ihre	Zeit	und	Ihr	Punktestand	</h2>
<p >
   Bitte	notieren	Sie	sich	die	folgenden	Angaben	und	überreichen	Sie	diese	dem	Studienleiter,	damit	er	die	entsprechende	Auszahlung	vornehmen	kann:	
</p>

<ul>
    <li>Dauer der Studienteilnahme: <strong>9min 3sek</strong></li>
    <li>Ihre Gesamtpunkte: <strong>100</strong></li>
</ul>

<p>
   Bevor	Sie	den	PC	verlassen	bitte	ich	Sie	durch	den	unten	stehenden	Button	wieder	auf	die	Startseite	der	Studie	zurückzukehren	–	vielen	Dank!
</p>
<p>
    <a class="btn btn-info btn-next" ng-href="#/">Zurück zum Start</a>
</p>

<div class="footer">
    <p>Verantwortlich für die technische Umsetzung der Studie:</p>
    <p>
        Thomas Blank <br>
        <a href="mailto:thomas.blank@fh-erfurt.de">thomas.blank@fh-erfurt.de</a>
    </p>
</div>