<h2>Arbeitstag {{ currentRound }}</h2>


<div class="feedback-section">
    <table class="table-feedback">
        <tr>
            <td>
                <div class="progress progress-exp progress-time">
                    <div class="progress-bar progress-bar-danger progress-bar-exp" 
                         role="progressbar" 
                         aria-valuenow="60" 
                         aria-valuemin="0" 
                         aria-valuemax="100" 
                         style="width: {{ ((100 / initialTime) * availableTime)|number:2 }}%;">
                    <span class="time-indicator" style="width: {{ ((100 / availableTime) * currentCueTime)|number:2 }}%; left: {{ (100 / availableTime) * currentCueEndTime }}%;"></span>
                    Verbleibende Zeit: {{ remainingMinutes|zeroPad:2  }} min {{ remainingSeconds |number:2|zeroPad:5 }} sek
                    </div>
                </div>
            </td>
            <td class="text-right" style="width: 175px;"><span class="decision-timer">{{ remainingMinutes|zeroPad:2  }} min {{ remainingSeconds |number:2|zeroPad:5 }} sek</span></td>
        </tr>
        <tr>
            <td>
                <div class="progress progress-exp">
                    <div class="progress-bar progress-bar-info progress-bar-exp" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ (100 / maxTrials) * (maxTrials - finishedTrials)}}%;">Verbleibende Aktienkäufe: {{ maxTrials - finishedTrials }}</div>
                </div>
            </td>
            <td class="text-right"><strong>{{ maxTrials - finishedTrials }}</strong></td>
        </tr>
        <tr ng-hide="experimentCondition === 'C1'">
            <td>
                <div class="progress progress-exp">
                    <div class="progress-bar progress-bar-success progress-bar-exp" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ (100 / maxScore) * currentScore }}%;">Erreichte Punkte: {{ currentScore }}</div>
                </div>
            </td>
            <td class="text-right"><strong>{{ currentScore }}</strong></td>
        </tr>
    </table>
    <div class="clearfix"></div>
</div>


<br>
<br>
<table class="table  table-buy-board">
    <thead>
        <tr>
            <td></td>
            <td class="text-center">Zuverlässigkeit</td>
            <td class="text-center">Aktie A</td>
            <td class="text-center">Aktie B</td>
            <td class="text-center">Informationen suchen:</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="label in cueLabels track by $index">
            <td>{{ label }}</td>
            <td class="text-center">{{ cueValues[$index].validity * 100 }} %</td>
            <td class="text-center"><span ng-if="!showCueValues[$index].show">?</span><span ng-if="showCueValues[$index].show">{{ currentTrial.pattern[$index] === 1 ? 'Ja' : 'Nein' }}</span></td>
            <td class="text-center"><span ng-if="!showCueValues[$index].show">?</span><span ng-if="showCueValues[$index].show">{{ currentTrial.pattern[$index] !== 1 ? 'Ja' : 'Nein' }}</span></td>
            <td class="text-center">
                <button class="btn btn-info" ng-disabled="showCueValues[$index].intervalId !== -1" ng-click="buyCue($index)">
                    <strong><span>{{ cueValues[$index].cost / 1000.0 |number:2 }} sek</span></strong>
                    <div class="spinner spinner-cue" ng-hide="showCueValues[$index].intervalId === -1 || showCueValues[$index].show">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td class="text-center"><button class="btn btn-success" ng-click="chooseShare('A')" ng-disabled="!informationAcquired">Wähle Aktie A</button></td>
            <td class="text-center"><button class="btn btn-success" ng-click="chooseShare('B')" ng-disabled="!informationAcquired">Wähle Aktie B</button></td>
            <td></td>
        </tr>
    </tfoot>
</table>