<h2>Zu guter Letzt</h2>

<div ng-if="reward == 2">
    <p>
       Bitte merken Sie sich Ihren Auszahlungsbetrag und nennen Sie diesen dem Studienleiter, damit er die entsprechende Auszahlung vornehmen kann: 
    </p>
    
    <ul class="list-unstyled">
        <li class="end-score">Ihre Auszahlung in bar: <strong>{{ score|number:2 }} €</strong></li>
    </ul>
</div>

<p>
   Sie können nun die Kopfhörer absetzten, diese Seite so stehen lassen und den PC einfach verlassen. Bitte lassen Sie den Vorhang Ihrer Kabine aufgezogen.
</p>
<p>
    
  Vielen Dank nochmal das Sie an der Studie teilgenommen haben!
</p>
<p>
    
    <a class="btn btn-info btn-next btn-refresh-to-start" target="_self" href="/">Zum Start</a>
</p>

<div class="footer">
    <p>Verantwortlich für die technische Umsetzung der Studie:</p>
    <p>
        Thomas Blank <br>
        <a href="mailto:thomas.blank@fh-erfurt.de">thomas.blank@fh-erfurt.de</a>
    </p>
</div>