<p>Bitte beantworten Sie die folgenden Fragen ohne lange zu überlegen und klicken Sie den Wert an, der Ihnen als erstes in den Sinn kommt. Wenn eine Aussage für Sie schwierig einzuschätzen ist, versuchen Sie, diese bitte trotzdem zu beantworten.</p>


<form class="form-horizontal stress-questions">
    <div class="form-group">
        <div class="col-sm-5">
            <p><strong>1. 	Solange	man	die	bessere	aus	zwei	Aktien	kauft,	kann	man	mehr	Punkte	bekommen	wenn	man...</strong></p>
        </div>
        <div class="col-sm-7">
            <div class="radio">
              <label>
                <input type="radio" name="metaQuestion1Name" value="1"  ng-model="metaQuestion1" ng-change="checkAllSet()">
                viele	Informationen	recherchiert	und	dadurch	wenige	aber	dafür	sichere	Aktienkäufe	tätigt	
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="metaQuestion1Name" value="2" ng-model="metaQuestion1" ng-change="checkAllSet()">
                wenige	Informationen	recherchiert	und	dadurch	viele	aber	dafür	unsichere	Aktienkäufe	tätigt		
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="metaQuestion1Name" value="3" ng-model="metaQuestion1" ng-change="checkAllSet()">
               Es	ist	egal	wie	man	Aktien	kauft,	es	macht	am	Ende	des	Arbeitstages	keinen	Unterschied	
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="metaQuestion1Name" value="4" ng-model="metaQuestion1" ng-change="checkAllSet()">
                Ich	weiß	nicht	wie	man	Aktien	kaufen	soll,	um	möglichst	viele	Punkte	zu	bekommen
              </label>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-12">
            <a type="submit"
               ng-click="onFormSubmit()"
               ng-disabled="!allQuestionsAnswered"
               class="btn btn-lg btn-success btn-next">Weiter <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <div class="spinner" ng-hide="notWaitingForRequestToFinish">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </a>
        </div>
    </div>
</form>