<h2>Aufgabe {{currentRound}} von 3</h2>
<section class="firstround" ng-if="currentRound == 1">
    <p>
        Nachdem Sie sich mit dem Vorgehen vertraut machen konnten, beginnen wir nun mit der eigentlichen Studie. Sie werden in insgesamt drei Entscheidungssituationen wieder eines von mehreren Waschmitteln wählen können.
        <br>
        Neben der Anwendung Ihrer Entscheidungsstrategie wird es auch darum gehen, innerhalb einer <strong>begrenzten Zeit</strong> Ihre Entscheidung zu treffen. Im Rahmen dieser begrenzten Entscheidungszeit gilt es, Ihre Entscheidung <strong>so schnell aber auch so gut wie möglich</strong> zu treffen.
        <br>
        Sie können Ihre Entscheidung also schneller treffen als die maximale Zeit die Sie dafür haben, Sie können unter Umständen aber auch länger für Ihre Entscheidung brauchen als Ihnen Zeit zur Verfügung steht. Nutzen Sie Ihre Entscheidungsstrategie so lange, bis Sie zur Wahl eines Waschmittels gelangen, auch wenn Ihnen dabei die Zeit auslaufen kann und somit keine Entscheidung getroffen wird. Wenden Sie bitte <strong>keine andere Entscheidungsstrategie</strong> an als diejenige, die Ihnen beschrieben wurde.
    </p>
    <p>
        <section ng-if="decisionStrategy == 'eqw'">
            Bevor es gleich los geht, finden Sie hier nochmal eine kurze Beschreibung Ihrer Entscheidungsstrategie.
        </section>
        <section ng-if="decisionStrategy != 'eqw'">
            Bevor es gleich los geht, finden Sie hier nochmal eine kurze Beschreibung Ihrer Entscheidungsstrategie, wie auch Ihre persönlichen Angaben zur Relevanz einzelner Eigenschaften von Waschmitteln.
        </section>
    </p>
</section>

<section class="otherrounds" ng-if="currentRound > 1">
    <p>
        Bitte treffen Sie erneut eine Wahl anhand Ihrer Entscheidungsstrategie. Im Rahmen der
        <strong>begrenzten Entscheidungszeit</strong> gilt es, Ihre Entscheidung <strong>so schnell aber auch so gut
        wie möglich</strong> zu treffen. Wenden Sie bitte <strong>keine andere Entscheidungsstrategie</strong> an als diejenige
        die Ihnen beschrieben wurde, auch wenn Ihnen dabei die Zeit auslaufen kann und somit
        keine Entscheidung getroffen wird.
    </p>
</section>

<br>
<h4>Ihre Entscheidungsstrategie:</h4>
<section class="decision-strategy lex" ng-if="decisionStrategy == 'lex'">
    <p>
        Ihre Entscheidungsstrategie besteht darin, dass Sie das Waschmittel wählen, welches bei Ihrer persönlichen wichtigsten Eigenschaft das beste ist. Ihre Strategie besteht demnach aus drei Schritten. Im ersten Schritt wählen Sie sich Ihre persönlich wichtigste Eigenschaft bei Waschmitteln aus. Im zweiten Schritt vergleichen Sie die Bewertungen aller Waschmittel bei dieser Eigenschaft. Im dritten Schritt wählen Sie das Waschmittel, welches den höchsten Wert auf Ihrer wichtigsten Eigenschaft hat.
    </p>
    <p>
        Sollten zwei oder mehrere Waschmittel gleich gut bei Ihrer wichtigsten Eigenschaft sein, nehmen Sie Ihre zweitwichtigste Eigenschaft hinzu und vergleichen diese Waschmittel nun zusätzlich noch auf dieser Eigenschaft.
    </p>
</section>

<section class="decision-strategy eba" ng-if="decisionStrategy == 'eba'">
    <p>
        Ihre Entscheidungsstrategie besteht darin, dass Sie ein Waschmittel nach dem anderen aussortieren, bis am Ende nur noch ein Waschmittel übrigbleibt, für das Sie sich dann entscheiden.
    </p>
    <p>
        Dieses schrittweise Aussortieren läuft dabei so ab, dass Sie die Waschmittel zuerst auf Ihrer persönlich wichtigsten Eigenschaft vergleichen. Bei diesem Vergleich werden alle Waschmittel aussortiert und nicht weiter beachtet, die Ihrem persönlichen Mindestanspruchsniveau nicht genügen. Sollten mehrere Waschmittel übrig bleiben, vergleichen Sie diese dann noch zusätzlich auf der nächstwichtigsten Eigenschaft, bis nur noch ein Waschmittel übrig bleibt und somit Ihre Wahl darstellt.
    </p>
</section>

<section class="decision-strategy eqw" ng-if="decisionStrategy == 'eqw'">
    <p>
        Ihre Entscheidungsstrategie besteht darin, dass Sie sich für das Waschmittel entscheiden, dass „unterm Strich“, also hinsichtlich aller seiner Eigenschaften das beste Waschmittel darstellt. Dafür betrachten Sie alle Eigenschaften eines Waschmittels und ermitteln dessen Gesamteignung. Diesen Vorgang wiederholen Sie dann für jedes weitere Waschmittel. Am Ende haben Sie die Gesamteignung für jedes Waschmittel und wählen dasjenige aus, dass die beste Gesamteignung besitzt.
    </p>
</section>

<section class="decision-strategy wadd" ng-if="decisionStrategy == 'wadd'">
    <p>
        Ihre Entscheidungsstrategie besteht darin, dass Sie sich für das Waschmittel entscheiden, dass hinsichtlich aller Eigenschaften und unter Einbezug wie wichtig Ihnen die einzelnen Eigenschaften sind, das beste Waschmittel darstellt. Dafür betrachten Sie nacheinander die einzelnen Bewertungen eines Waschmittels. Da einzelne Eigenschaften unterschiedlich wichtig sein können, gewichten sie die einzelnen Eigenschaften und ermitteln daraus die gewichtete Gesamteignung des Waschmittels. Diesen Vorgang wiederholen Sie für jedes Waschmittel. Am Ende haben Sie die gewichtete Gesamteignung für jedes einzelne Waschmittel und wählen das beste darunter aus.
    </p>
</section>


<section class="personal-weights" ng-if="decisionStrategy != 'eqw'">
    <br>
    <h4>Ihre Angaben zur persönlichen Relevanz der Eigenschaften:</h4>
    <table class="table table-condensed table-bordered table-striped table-personal-weights">
        <thead>
        <tr>
            <th>Eigenschaft</th>
            <th class="text-center">Persönliche Relevanz</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="testCase in ratingTestCases">
            <td>{{ testCase }}</td>
            <td>
                {{ participantAttributeValues[$index] }}&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline" ng-repeat="i in [5]|makeRange track by $index">
                    <input type="radio" ng-checked="{{ (participantAttributeValues[$parent.$index] -1) == $index }}" ng-disabled="true">
                </label>

            </td>
        </tr>
        </tbody>
    </table>
</section>

<p>
    Denken Sie daran, sich anhand <strong>Ihrer Entscheidungsstrategie so schnell aber
    auch so gut wie möglich</strong> für ein Waschmittel zu entscheiden und <strong>keine
    andere Entscheidungsstrategie</strong> an als diejenige, die Ihnen beschrieben wurde zu nutzen.

    <br><br>
    <strong>Viel Erfolg!</strong>
</p>
<p><a class="btn btn-lg btn-success" ng-href="#/taskdecision">Weiter</a></p>