<h2>Übungslauf 2</h2>
<p>
    Auf der folgenden Seite werden Ihnen erneut verschiedene Waschmittel gezeigt.
    Sobald Sie sich für eines der Waschmittel entschieden haben, betätigen Sie einfach
    den „Button“ der sich unter diesem Waschmittel befindet.
    Denken Sie daran, sich <strong>so schnell aber auch so gut wie möglich</strong> für ein Waschmittel zu entscheiden.
    <br><br>
    <strong>Viel Erfolg!</strong>
</p>

<p><a class="btn btn-lg btn-success btn-next" ng-href="#/uebung2">Weiter</a></p>
