<h2 class="pull-left decision-headline">Übungslauf 1</h2>
<timer class="pull-right decision-timer" interval="10" ><span class="deciscion-timer-description">Benötigte Zeit: </span>{{(millis / 1000) | number : 1}}</timer>

<div class="clearfix"></div>

<table class="table table-condensed">
	<thead>
	<tr>
		<th></th>
		<th ng-repeat="powder in washingPowders" class="text-center">{{ powder.name }}</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="testCase in ratingTestCases">
		<td>{{ testCase }}</td>
		<td ng-repeat="powder in washingPowders" class="text-center">{{ powder.testCaseRatings[$parent.$index] }}</td>
	</tr>
	<tr>
		<td></td>
		<td ng-repeat="powder in washingPowders" class="text-center">
			<button class="btn btn-success" ng-disabled="!timerRunning" ng-click="itemSelected()" ><span class="glyphicon glyphicon-ok"></span></button>
		</td>
	</tr>
	</tbody>
</table>
<p>Bewertungsschlüssel: ++ = sehr gut, + = gut, o = befriedigend, - = ausreichend, -- = mangelhaft</p>
