<h2>Wie sehen die Waschmittel aus?</h2>
<p>
    Im Verlauf der Studie werden Sie vor verschiedene Entscheidungsaufgaben gestellt, in denen Sie sich für eines von mehreren Waschmitteln entscheiden sollen.
</p>
<p>
    Betrachten Sie bitte die folgende Tabelle und machen Sie sich mit Ihrem Aufbau vertraut. Sie finden darin drei Waschmittel mit den bereits bekannten Eigenschaften. Die Waschmittel wurden von einer unabhängigen Warentestung geprüft und die einzelnen Eigenschaften der Waschmittel bewertet. Den entsprechenden Bewertungsschlüssel finden Sie unter der Tabelle.
</p>

<table class="table table-condensed table-bordered table-striped">
    <thead>
    <tr>
        <th>Eigenschaft</th>
        <th ng-repeat="powder in washingPowders" class="text-center">{{ powder.name }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="testCase in ratingTestCases">
        <td>{{ testCase }}</td>
        <td ng-repeat="powder in washingPowders" class="text-center test-case-value">{{ ($parent.$index == 0) ? (powder.testCaseRatings[$parent.$index] | number:2) : powder.testCaseRatings[$parent.$index] }}</td>
    </tr>
    </tbody>
</table>
<p>Bewertungsschlüssel: ++ = sehr gut, + = gut, o = befriedigend, - = ausreichend, -- = mangelhaft</p>
<br>
<p>
    Bei Ihren kommenden Entscheidungen ist es wichtig, dass Sie diese anhand einer bestimmten Entscheidungsstrategie treffen. Im Folgenden wird Ihnen Ihre Entscheidungsstrategie erst allgemein und dann konkret beschrieben. Bevor es dann richtig los geht, können Sie sich mit der Anwendung dieser Strategie in zwei beispielhaften Entscheidungssituationen vertraut machen.
</p>

<p><a class="btn btn-lg btn-success btn-next" ng-href="#/common-decision-strategy">Weiter</a></p>