/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

.position-relative {
    position: relative;
}

html {
    position: relative;
}

.link:hover {
  cursor: pointer;
}

.status-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.progress {
    border-radius: 0;
    height: 18px;
    margin-bottom: 0;
}

.progress-bar {
    line-height: 18px;
    font-size: 11px;
    overflow: visible;
    white-space: nowrap;
}

.progress-exp {
  height: 40px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.progress-bar-exp {
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #555;
  position: relative;
}

.progress-time .progress-bar {
  transition: none!important;
}

.progress-bar-highlight {
  background-color: #e9d70f;
}

.time-indicator {
  position: absolute;
  height: 40px;
  left: 0;
  top: 0;
  background-color: #e9d70f;
}

.testing-configurators {
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #333;
    color: #eee;
    padding: 10px;
}

.site-number {
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 100%;
}

.radio-reward-header {
  margin-bottom: 0;
  margin-top: 10px;
}

.radio-reward {
  margin-left: 35px;
}

.select-strategy {
    min-width: 80px;
}

.strategy-title {
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.select-strategy-form {
    padding: 0;
    border-radius: 0;
    height: 25px;
}

/***************************************************************************
* Custom styles
****************************************************************************/
.text-muted a {
  color: #777;
  text-decoration: none;
}

.text-muted a:hover {
  color: #777;
  text-decoration: none;
}

.feedback-section {
  position: relative;
  margin-bottom: 20px;
}

.decision-timer {
  margin-top: 15px;
  font-size: 22px;
  color: #ff0a1c;
}

.deciscion-timer-description {
  color: #333;
}

.decision-countdown {
    text-align: right;
    display: inline-block;
}

.remaining-trials {
  font-size: 22px;
}

.current-score {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
}

.decision-headline {
  margin-bottom: 40px;
}

.stress-questions {
  margin-top: 40px;
}

.nfc-questions label {
  padding: 0 23px;
  position: relative;
}

.nfc-questions label:nth-child(8) {
  padding-right: 0;
}

.nfc-radio-wrapper {
  margin-top: 30px;
}

.nfcQuestion-label-center {
  position: absolute;
  top: -28px;
  width: 80px;
  left: -28px;
}

.form-horizontal .meta-questions {
  margin-top: 5px;
  margin-left: 10px;
}

.radio-inline {
  vertical-align: top;
  padding-top: 0;

}

.radio-inline label{
  font-weight: normal;
}

.radio-inline input[type="radio"] {
    margin-right: 5px;
    margin-top: 0;
}

.form-horizontal .radio-inline {
  padding-top: 0;
}

.stress-questions-option-label {
  padding: 0 10px;
}

.test-case-value {
    font-size: 14px;
    font-weight: bold;
}

.table-personal-weights {
    max-width: 450px;
}

.strategy-wadd-column-width {
    max-width: 100px;
}

#inputAge {
  max-width: 100px;
}

.table-buy-board {
  font-size: 18px;
}

.table-buy-board td {
  vertical-align: middle;
}

.table-buy-board tr {
  height: 65px;
}


.table-buy-board > tbody > tr > td,
.table-buy-board > thead > tr > td,
.table-buy-board > tfoot > tr > td{
  vertical-align: middle;
}

.table-buy-board .btn-info,
.table-buy-board .btn-success {
  font-size: 18px;
}

.table-feedback {
  font-size: 18px;
  width: 100%;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.btn-next {
  margin-top: 20px;
  font-size: 20px;
  transition: all 0.3s ease-in-out 0s;
}
.end-score {
  font-size: 18px;
  padding-left: 20px;
}

.btn-refresh-to-start {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90px;
  width: 150px;
  opacity: 0;
}

.page-wrapper {
  margin-top: 10px;
  margin-bottom: 100px;
}

.invest-input {
  max-width: 120px
}

.table-risk {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.choose-organization-item {
    position: relative;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    height: 130px;
}
.organization-input {
    position: absolute;
    bottom: -15px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    z-index: 100;
    cursor: pointer;
}
.organization-input + label {
    border: 5px solid #FFF;
    border-radius: 2px;
    cursor: pointer;
    height: 150px;
    padding: 10px;
}

.organization-input:checked + label {
    border-color: #5CB85C;
}

.organization-input + .organization1 {
    padding-top: 50px
}
.organization-input + .organization2 {
    padding-top: 40px;
}

.choose-organization {
    margin-bottom: 20px;
}

.choose-organization-image {
    width: 160px;
    height: auto;
    display: block;
}

.choose-organization-item:hover {
    cursor: pointer;
}

.choose-organization-item.selected {
    border: 5px solid #5CB85C;
    border-radius: 2px;
}

.agree-to-participate {
    max-width: 550px;
}
#agree-to-participate {
    top: calc(50% - 10px);
}

.maximising-bottom-margin {
  margin-top: 300px;
}

.personal-code-input {
  max-width: 150px;
}

.thanks-form-input {
  max-width: 500px;
}

/* Custom page footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  margin-top: 70px;
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding-left: 5px;
}

.from-demographics {
  max-width: 350px;
}
.demographics-age {
    max-width: 80px;
}

/* SPINNER */
.spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  animation-delay: -1.1s;
}
.spinner .rect3 {
  animation-delay: -1.0s;
}
.spinner .rect4 {
  animation-delay: -0.9s;
}
.spinner .rect5 {
  animation-delay: -0.8s;
}

.spinner-cue {
  width: 10px;
  height: 20px;
  font-size: 5px;
  margin-left: 0px; 
}

.spinner-cue > div {
  background-color: #fff;
  height: 100%;
  width: 3px;
  display: inline-block;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  } 20% {
      transform: scaleY(1.0);
    }
}



.ready-animation-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 1;
}

.ready-animation-get {
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 350px);
  font-size: 200px;
  width: 700px;
  height: 440px;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  animation: load 1s;
  animation-delay: 0s;
}

.ready-animation-3 {
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 110px);
  font-size: 400px;
  font-weight: bold;
  width: 220px;
  height: 440px;
  opacity: 0;
  animation: load 0.5s;
  animation-delay: 1s;
}
.ready-animation-2 {
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 110px);
  font-size: 400px;
  font-weight: bold;
  width: 220px;
  height: 440px;
  opacity: 0;
  animation: load 0.5s;
  animation-delay: 1.5s;
}
.ready-animation-1 {
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 110px);
  font-size: 400px;
  font-weight: bold;
  width: 220px;
  height: 440px;
  opacity: 0;
  animation: load 0.5s;
  animation-delay: 2s;
}
.ready-animation-go {
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 310px);
  font-size: 400px;
  font-weight: bold;
  width: 620px;
  height: 440px;
  opacity: 0;
  animation: load 0.5s;
  animation-delay: 2.5s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}